<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>twitter</string>
		<string>instagram</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Enable camera access for unique information about our exhibits.</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>UIAppFonts</key>
	<array>
		<string>TrajanPro-Regular.otf</string>
		<string>ITCFranklinGothicStd-Book.otf</string>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCapturePhoto</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>QR Scanner</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>TabIndex</key>
				<integer>4</integer>
			</dict>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Scanner</string>
		</dict>
		<dict>
			<key></key>
			<string></string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Events</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>TabIndex</key>
				<integer>1</integer>
			</dict>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Events</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeContact</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Membership Card</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>TabIndex</key>
				<integer>3</integer>
			</dict>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Memberships</string>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
